body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
}

.container {
    width: 450px;
    height: 720px;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

#screen {
    width: 430px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-family: inherit;
    font-size: inherit;
    transition: filter 0.3s;
}

.buttons {
    width: 430px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4px;
}

.clear-btns {
    background-color: #d6d6d6;
    color: #353535;
}

.num-btns {
    background-color: #404040;
    color: #fff;
}

.operator-btns {
    background-color: #FAA423;
    color: #fff;
}

button:active,
button:focus {
    filter: brightness(120%);
}

#clear {
    width: 210px;
    font-size: 48px;
    border-radius: 50px;
    grid-column: 1 / span 2;
}

#btn-0 {
    width: 210px;
    border-radius: 50px;
    grid-column: 1 / span 2;
}
