body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
}

.container {
    width: 450px;
    height: 720px;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#screen {
    width: 430px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
}

.buttons {
    width: 430px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clear-btns {
    background-color: #d6d6d6;
    color: #000;
}

.num-btns {
    background-color: #404040;
    color: #fff;
}

.operator-btns {
    background-color: #FAA423;
    color: #fff;
}

#clear {
    width: 210px;
    font-size: 48px;
}

#btn-0 {
    width: 210px;
}
